- 
    var img =[
        "../../upload/fa2/product/detail/photoLiboxImg1_1060_710.jpg",
        "../../upload/fa2/product/detail/photoLiboxImg2_730_970.jpg",
        "../../upload/fa2/product/detail/photoLiboxImg3_680_900.jpg",
        "../../upload/fa2/product/detail/photoLiboxImg4_400_370.jpg",
        "../../upload/fa2/product/detail/photoLiboxImg5_830_590.jpg",
        "../../upload/fa2/product/detail/photoLiboxImg6_850_560.jpg",
        "../../upload/fa2/product/detail/photoLiboxImg7_720_340.jpg",
    ]
    var inf = [
        //- 景圖一
        {
            area:[
            //- 材料使用區域一
            {
                where:{
                    h6:"Wall tile",
                    p:["0C63021","0C63023"]
                },
                usingCollage:{
                    p:"Alignment method",
                    img:"../../upload/fa2/product/detail/photoLiboxIcon_70_70.png"
                }
            },
            //- 材料使用區域二
            {
                where:{
                    h6:"Brick tile",
                    p:["0C63021"]
                },
                usingCollage:{
                    p:"Alignment method",
                    img:"../../upload/fa2/product/detail/photoLiboxIcon_70_70.png"
                }
            },
            {
                where:{
                    h6:"Brick tile",
                    p:["0C63021"]
                },
                usingCollage:{
                    p:"Alignment method",
                    img:"../../upload/fa2/product/detail/photoLiboxIcon_70_70.png"
                }
            },
            {
                where:{
                    h6:"Brick tile",
                    p:["0C63021"]
                },
                usingCollage:{
                    p:"Alignment method",
                    img:"../../upload/fa2/product/detail/photoLiboxIcon_70_70.png"
                }
            },
        ]},
        //- 景圖二
        {
            area:[
            //- 材料使用區域一
            {
                where:{
                    h6:"Wall tile",
                    p:["0C63021","0C63023"]
                },
                usingCollage:{
                    p:"Alignment method",
                    img:"../../upload/fa2/product/detail/photoLiboxIcon_70_70.png"
                }
            },
            //- 材料使用區域二
            {
                where:{
                    h6:"Brick tile",
                    p:["0C63021"]
                },
                usingCollage:{
                    p:"Alignment method",
                    img:"../../upload/fa2/product/detail/photoLiboxIcon_70_70.png"
                }
            },
        ]},
        {
            area:[
            //- 材料使用區域一
            {
                where:{
                    h6:"Wall tile",
                    p:["0C63021","0C63023"]
                },
                usingCollage:{
                    p:"Alignment method",
                    img:"../../upload/fa2/product/detail/photoLiboxIcon_70_70.png"
                }
            },
            //- 材料使用區域二
            {
                where:{
                    h6:"Brick tile",
                    p:["0C63021"]
                },
                usingCollage:{
                    p:"Alignment method",
                    img:"../../upload/fa2/product/detail/photoLiboxIcon_70_70.png"
                }
            },
        ]},
        {
            area:[
            //- 材料使用區域一
            {
                where:{
                    h6:"Wall tile",
                    p:["0C63021","0C63023"]
                },
                usingCollage:{
                    p:"Alignment method",
                    img:"../../upload/fa2/product/detail/photoLiboxIcon_70_70.png"
                }
            },
            //- 材料使用區域二
            {
                where:{
                    h6:"Brick tile",
                    p:["0C63021"]
                },
                usingCollage:{
                    p:"Alignment method",
                    img:"../../upload/fa2/product/detail/photoLiboxIcon_70_70.png"
                }
            },
        ]},
        {
            area:[
            //- 材料使用區域一
            {
                where:{
                    h6:"Wall tile",
                    p:["0C63021","0C63023"]
                },
                usingCollage:{
                    p:"Alignment method",
                    img:"../../upload/fa2/product/detail/photoLiboxIcon_70_70.png"
                }
            },
            //- 材料使用區域二
            {
                where:{
                    h6:"Brick tile",
                    p:["0C63021"]
                },
                usingCollage:{
                    p:"Alignment method",
                    img:"../../upload/fa2/product/detail/photoLiboxIcon_70_70.png"
                }
            },
        ]},
        {
            area:[
            //- 材料使用區域一
            {
                where:{
                    h6:"Wall tile",
                    p:["0C63021","0C63023"]
                },
                usingCollage:{
                    p:"Alignment method",
                    img:"../../upload/fa2/product/detail/photoLiboxIcon_70_70.png"
                }
            },
            //- 材料使用區域二
            {
                where:{
                    h6:"Brick tile",
                    p:["0C63021"]
                },
                usingCollage:{
                    p:"Alignment method",
                    img:"../../upload/fa2/product/detail/photoLiboxIcon_70_70.png"
                }
            },
        ]},
        {
            area:[
            //- 材料使用區域一
            {
                where:{
                    h6:"Wall tile",
                    p:["0C63021","0C63023"]
                },
                usingCollage:{
                    p:"Alignment method",
                    img:"../../upload/fa2/product/detail/photoLiboxIcon_70_70.png"
                }
            },
            //- 材料使用區域二
            {
                where:{
                    h6:"Brick tile",
                    p:["0C63021"]
                },
                usingCollage:{
                    p:"Alignment method",
                    img:"../../upload/fa2/product/detail/photoLiboxIcon_70_70.png"
                }
            },
        ]},
    ]


section.liboxClose
    span
section.content
    .photoSlick
        ul
            each val in img
                li
                    figure
                        // 後端請注意:這裡圖片跟點擊的圖片共用
                        img(data-lazy=val, alt="")
        .arrows 
            span.icon-triangle_left
            span.icon-triangle_right
    .infSlick
        ul
            each val1 in inf
                li
                    each val2 in val1.area
                        .area
                            .where
                                h6=val2.where.h6
                                each valP in val2.where.p
                                    //產品網址
                                    a(href="../product/detail.html")
                                        p=valP
                            .usingCollage
                                h6 Using collage
                                p=val2.usingCollage.p
                                img(src=val2.usingCollage.img, alt="")