//- 常用參數
include ../layout/_var.pug

- 
    var breadcrumb =[
        {name:"products",link:"../product/index.html"},
        {name:"Collection",link:"../product/collection.html"},
        {name:"Glazed wall tile",link:"../product/sort.html"},
        {name:"Claro series",link:"../product/series.html"}
    ]

    var series = [
        {
            name:"Freya series",
            whiteWords:"false",
            smallImg:"../../upload/fa2/product/sort/smallImg1_640_490.jpg",
            bigImg:"../../upload/fa2/product/sort/bigImg1_1310_655.jpg",
            newOne:"false"
        },
        {
            name:"Diana series",
            whiteWords:"true",
            smallImg:"../../upload/fa2/product/sort/smallImg2_640_490.jpg",
            bigImg:"../../upload/fa2/product/sort/bigImg2_1310_655.jpg",
            newOne:"true"
        },
        {
            name:"Cameo series",
            whiteWords:"true",
            smallImg:"../../upload/fa2/product/sort/smallImg3_640_490.jpg",
            bigImg:"../../upload/fa2/product/sort/bigImg3_1310_655.jpg",
            newOne:"true"
        },
        {
            name:"Claro series",
            whiteWords:"false",
            smallImg:"../../upload/fa2/product/sort/smallImg4_640_490.jpg",
            bigImg:"../../upload/fa2/product/sort/bigImg4_1310_655.jpg",
            newOne:"false"
        },
        {
            name:"Ebenezar series",
            whiteWords:"false",
            smallImg:"../../upload/fa2/product/sort/smallImg5_640_490.jpg",
            bigImg:"../../upload/fa2/product/sort/bigImg5_1310_655.jpg",
            newOne:"false"
        },
    ]

    var product = [
        {
            number:"0C63016",
            img:"../../upload/fa2/product/series/0ES606001L_L.jpg",
            size:"60 x 60  cm",
            newOne:"true"
        },
        {
            number:"0C63021",
            img:"../../upload/fa2/product/series/063HK02_L.jpg",
            size:"30 x 60  cm",
            newOne:"false"
        },
        {
            number:"0C63016",
            img:"../../upload/fa2/product/series/088L28_L.jpg",
            size:"80 x 80  cm",
            newOne:"false"
        },
        {
            number:"0C63016",
            img:"../../upload/fa2/product/series/colletionImg4_470_110.jpg",
            size:"25 x 90cm",
            newOne:"true"
        },
        {
            number:"0C63016",
            img:"../../upload/fa2/product/series/colletionImg5_470_260.jpg",
            size:"80 x 80  cm",
            newOne:"true"
        },
        {
            number:"0C63023",
            img:"../../upload/fa2/product/series/colletionImg3_330_330.jpg",
            size:"25 x 90cm",
            newOne:"false"
        },
        {
            number:"0C63016",
            img:"../../upload/fa2/product/series/colletionImg1_280_280.jpg",
            size:"60 x 60  cm",
            newOne:"true"
        },
        {
            number:"0C63021",
            img:"../../upload/fa2/product/series/colletionImg2_400_200.jpg",
            size:"30 x 60  cm",
            newOne:"false"
        },
        {
            number:"0C63016",
            img:"../../upload/fa2/product/series/colletionImg3_330_330.jpg",
            size:"80 x 80  cm",
            newOne:"false"
        },
        {
            number:"0C63016",
            img:"../../upload/fa2/product/series/colletionImg4_470_110.jpg",
            size:"25 x 90cm",
            newOne:"true"
        },
        {
            number:"0C63016",
            img:"../../upload/fa2/product/series/colletionImg5_470_260.jpg",
            size:"80 x 80  cm",
            newOne:"true"
        },
        {
            number:"0C63023",
            img:"../../upload/fa2/product/series/colletionImg3_330_330.jpg",
            size:"25 x 90cm",
            newOne:"false"
        },
    ]

doctype html
|
|
<html lang="en">
|
|
+head
|
|
//後端請注意: 下方data-themeColor 請填入這個分館的主題色 同分館的所有頁面都要一樣
body#product.series(data-themeColor="#3e2820")
    include ../layout/_header.pug

    main
        article.banner 
            // 麵包屑 SEO結構化標籤
            section.breadcrumb
                ul(itemscope itemtype="https://schema.org/Product")
                    each val in breadcrumb
                        li(itemprop="name")
                            if val==breadcrumb[3]
                                h1
                                    a(href=val.link  itemprop="url")=val.name
                            else
                                a(href=val.link  itemprop="url")=val.name
                                span.bgColor
            section._img
                picture
                    // [if IE 9]><video style="display: none;"><![endif]
                    // 後端請注意:手機圖片大小
                    source(srcset="../../upload/fa2/product/series/bannerImgRWD_1000_1300.jpg" media="(max-width:1024px)")
                    // 後端請注意:電腦圖片大小1800_945
                    img(src="../../upload/fa2/product/series/bannerImg_1800_945.jpg" alt="")
                // 後端請注意: 此處文字位置有兩種  請在下方div加上相對應的class
                    1.左 left
                    2.右 right
                // 後端請注意: 須讓客戶選擇文字顏色
                ._title.left(style="color:#fff")
                    h2 Claro series
                    p.words Natural texture lines and warm tones soften the space and create a harmonious and moving posture.
                    .anchor
                        p please choose 
                            span.bgColor
                        ul
                            li introduction
                            li collection
                            li Support tool
            section.scrollDown
                span
                p SCROLL
        article.introduction
            section.background(style="background-color:")
                picture
                    // [if IE 9]><video style="display: none;"><![endif]
                    // 後端請注意:手機圖片大小1024_1366
                    source(srcset="" media="(max-width:1024px)")
                    // 後端請注意:電腦圖片大小1920_1080
                    img.b-lazy(src=blazy data-src="../../upload/fa2/product/series/introBg_1920_1080.jpg" alt="")
            section._title
                h5 introduction
                h6 Enjoy the Claro series
                span.bgColor
            section.content
                .story
                    h6 Series story 
                    p.words Inspired by natural stone and native wood, it is designed to swim in the natural atmosphere; the fragrant flowers and elegant style give the space the most exciting and generous best makeup. The Claro series, between the calm and restrained and simple taste, feels the touch of every day in life.
                    p.ps This product is not repaired with magnetic tiles, with 3-5mm   construction with standard , stronger earthquake resistance.
                .award
                    h6 Award events
                    ul
                        li
                            figure
                                img(src="../../upload/fa2/product/series/awardImg1.png", alt="")
                            div
                                p.year 2016
                                p.name Taiwan Excellence Award
                        li
                            figure
                                img(src="../../upload/fa2/product/series/awardImg2.png", alt="")
                            div
                                p.year 2014
                                p.name New evaluation of Yingge Ceramics Museum
        article.collection
            section.background(style="background-color:#fff")
                picture
                    // [if IE 9]><video style="display: none;"><![endif]
                    // 後端請注意:手機圖片大小1024_1366
                    source(srcset="" media="(max-width:1024px)")
                    // 後端請注意:電腦圖片大小1920_1080
                    img.b-lazy(src=blazy data-src="../../upload/fa2/" alt="")
            section.content
                .grid-sizer
                //標題
                .box._title
                    h5 collection
                    h6 Series style overview
                        span.bgColor
                    p Inspired 
                    .ps
                        p This 
                // 產品內容開始
                each val in product
                    .box
                        .block
                            // 後端請注意:如果是新品的話 請在下方a加上class "newOne"
                            // 後端請注意: 要呈現比例的話糗在 下方的a加上 style="width: ? %"
                            a(class=(val.newOne=="true")?"newOne" :"" , href="../product/detail.html" style=(val == product[0])?"width: 100%":"")
                                //序號
                                p.number=val.number
                                figure
                                    img.b-lazy(src=blazy data-src=val.img, alt="")
                                p.size=val.size
        article.supportTool
            section.background(style="background-color:#fff")
                picture
                    // [if IE 9]><video style="display: none;"><![endif]
                    // 後端請注意:手機圖片大小1024_1366
                    source(srcset="" media="(max-width:1024px)")
                    // 後端請注意:電腦圖片大小1920_1080
                    img.b-lazy(src=blazy data-src="" alt="")
            section._title
                h5 Support tool
                h6 You may also need
            section.content
                ul
                    li
                        a.hoverColor_P(href=java)
                            span.icon-download.textColor.hoverColor_C
                            p 2018 DEVANNOcatalogue download
                    li
                        // 後端請注意: 請在下方a的data-src填上燈箱ajax資料的位置
                        a.hoverColor_P(href=java data-src="../product/packing.html" onclick="product.liboxajax(this)")
                            span.icon-exhibition.textColor.hoverColor_C
                            p Series packing form
                    li
                        // 後端請注意: 請在下方a的data-src填上燈箱ajax資料的位置
                        a.hoverColor_P(href=java data-src="../product/report.html" onclick="product.liboxajax(this)")
                            span.icon-exhibition.textColor.hoverColor_C
                            p Tile inspection report
        article.recommend
            section.background(style="background-color:")
                picture
                    // [if IE 9]><video style="display: none;"><![endif]
                    // 後端請注意:手機圖片大小1024_1366
                    source(srcset="" media="(max-width:1024px)")
                    // 後端請注意:電腦圖片大小1920_1080
                    img.b-lazy(src=blazy data-src="../../upload/fa2/product/series/recommendBg_1920_1080.jpg" alt="")
            section._title
                h5 recommend
                h6 May also like other series
                    span.bgColor
            section._slick
                ul
                    each val in series
                        // 後端請注意:如果是新品的話 請在下方li加上class "newOne"
                        li(class=(val.newOne=="true")?"newOne":"")
                            a(href="../product/series.html")
                                figure
                                    // 後端請注意: 圖片跟 product/sort.html 共用
                                    img.big(data-lazy=val.bigImg, alt="")
                                    img.small(data-lazy=val.smallImg, alt="")
                                // 後端請注意: 須讓客戶選擇文字的顏色
                                p.name(style=(val.whiteWords=="true")?"color:#fff":"color: ")=val.name
                .arrows 
                    span.icon-triangle_left
                    span.icon-triangle_right
    include  ../layout/_footer.pug
+script

|
|
</html>