//- 常用參數
include ../layout/_var.pug


-
    var breadcrumbs =[
        {
            title:"首頁",
            link:"../home/index.html"},
        {
            title:"超級卡/聯名卡專區",
            link:"../card/index.html"},
    ]

    var unit = ["卡別介紹","最新活動"]
        
    var rows =[
        {
            img:"../../upload/fa2/card/index/rowImg2.png",
            ch:"漢神聯名世界卡",
            en:"貴賓廳尊榮貼心服務，停車有優惠讓您逛街不煩惱，尊竉禮及卡友獨享折扣商品，購物消費享...",
            textBg:"../../upload/fa2/card/index/textBg2_1020_650.png"},
        {
            img:"../../upload/fa2/card/index/rowImg3.png",
            ch:"漢神聯名御璽卡",
            en:"貴賓廳尊榮貼心服務，停車有優惠讓您逛街不煩惱，尊竉禮及卡友獨享折扣商品，購物消費享...",
            textBg:"../../upload/fa2/card/index/textBg3_1020_650.png"},
        {
            img:"../../upload/fa2/card/index/rowImg4.png",
            ch:"漢神聯名晶緻卡",
            en:"貴賓廳尊榮貼心服務，停車有優惠讓您逛街不煩惱，尊竉禮及卡友獨享折扣商品，購物消費享...",
            textBg:"../../upload/fa2/card/index/textBg4_1020_650.png"},
        {
            img:"../../upload/fa2/card/index/rowImg5.png",
            ch:"漢神聯名無限卡",
            en:"貴賓廳尊榮貼心服務，停車有優惠讓您逛街不煩惱，尊竉禮及卡友獨享折扣商品，購物消費享...",
            textBg:"../../upload/fa2/card/index/textBg5_1020_650.png"},
    ]

    var news = [
        {
            img:"../../upload/fa2/news/newsImg_400_370.jpg",
            slogan:{
                p:"HOT !",
                bg:"#a13838"
            },
            type:"BRANDS",
            title:"MaxMara 時尚冬裝新上市",
            words:"購買新品滿3000折300元，再送高級質感圍巾"},
        {
            img:"../../upload/fa2/news/newsImg2_400_370.jpg",
            slogan:{
                p:"",
                bg:""
            },
            type:"EVENTS",
            title:"聖誕優惠開跑囉！",
            words:"眾多品牌推出限量禮盒，加碼商品大放送 ! 活動自01-10到02-15，全館八折起，歡迎蒞臨漢神百貨"},
        {
            img:"../../upload/fa2/news/newsImg3_400_370.jpg",
            slogan:{
                p:"SALE !",
                bg:"#3c3b52"
            },
            type:"Member",
            title:"周年慶全館八折起 卡友享專屬加碼優惠",
            words:"活動自11/10到11/23，全館八折起，再享瘋狂回饋"},
        {
            img:"../../upload/fa2/news/newsImg4_400_370.jpg",
            slogan:{
                p:"",
                bg:""
            },
            type:"BRANDS",
            title:"MaxMara 時尚冬裝新上市",
            words:"購買新品滿3000折300元，再送高級質感圍巾，全館八折起，歡迎蒞臨漢神百貨"},
        {
            img:"../../upload/fa2/news/newsImg5_400_370.jpg",
            slogan:{
                p:"",
                bg:""
            },
            type:"EVENTS",
            title:"聖誕優惠開跑囉！",
            words:"眾多品牌推出限量禮盒，加碼商品大放送 !"},
        {
            img:"../../upload/fa2/news/newsImg6_400_370.jpg",
            slogan:{
                p:"",
                bg:""
            },
            type:"Member",
            title:"周年慶全館八折起全館折扣，再享瘋狂回饋 ! 還有限定商品",
            words:""},
        {
            img:"../../upload/fa2/news/newsImg7_400_370.jpg",
            slogan:{
                p:"",
                bg:""
            },
            type:"BRANDS",
            title:"Kiehl's 保濕冬季新上市",
            words:""},
        {
            img:"../../upload/fa2/news/newsImg8_400_370.jpg",
            slogan:{
                p:"",
                bg:""
            },
            type:"EVENTS",
            title:"聖誕優惠開跑囉！",
            words:"眾多品牌推出限量禮盒，加碼商品大放送 ! 活動自01/10到02/15，全館八折起"},
        {
            img:"../../upload/fa2/news/newsImg9_400_370.jpg",
            slogan:{
                p:"",
                bg:""
            },
            type:"Member",
            title:"周年慶全館八折起 卡友享專屬加碼優惠",
            words:"活動自11/10到11/23，全館八折起，再享瘋狂回饋"},
    ]

doctype html
|
|
<html lang="en">
|
|
+head
|
|
body#card.index
    include ../layout/_header.pug

    main
        article.banner
            section.breadcrumbs
                ul
                    each val in breadcrumbs
                        li
                            a(href=val.link )=val.title
            setion._title(style="background-image:url('../../upload/fa2/card/index/bannerBg_1670_410.jpg')")
                p.ch 超集卡/聯名卡專區
                p.en Card member
                p.words 創造新新生活，讓夢想在這裡發光，以下為漢神超級卡及漢神百貨聯名卡的資訊，各種刷卡或極點優惠訊息一手掌握!
        article.unit
            ul
                each val in unit
                    li(class=(val == unit[0])?"active":"")
                        a(href=java)
                            p=val
        article.introduction.active
            section.topTitle(style="background-image:url('../../upload/fa2/card/index/topTitleBg_1670_1080.jpg')")
                p.en cards
                p.words Smart消費Super回饋跨店集點折抵無上限，尊榮禮遇專屬優惠
                .row
                    figure
                        img.b-lazy(src=blazy data-src="../../upload/fa2/card/index/rowImg1.png", alt="")
                    //後端請注意: 如果要讓字變黑色的話請在下方text 加上class "blackWords"
                    ._text.b-lazy.blackWords(data-src="../../upload/fa2/card/index/textBg_1020_650.png")
                        .box
                            p.ch 漢神超集卡
                            p.words 貴賓廳尊榮貼心服務，停車有優惠讓您逛街不煩惱，尊竉禮及卡友獨享折扣商品，購物消費享
                            a.enter(href="../card/detail.html")
                                div
                                    p.up ENTER
                                    p.down ENTER
            section.rows
                each val in rows
                    .row
                        figure
                            img.b-lazy(src=blazy data-src=val.img, alt="")
                        ._text.b-lazy(data-src=val.textBg, class=(val==rows[2])?"":"blackWords")
                            .box
                                p.ch=val.ch
                                p.words=val.en
                                a.enter(href="../card/detail.html")
                                    div
                                        p.up ENTER
                                        p.down ENTER
        article.news
            section.topTitle
                p.en NEWS
                .anchor
                    ul
                        li.active 
                            p 異業優惠
                        li 
                            p 刷卡活動
                        li 
                            p 購物優惠
            section.content 
                .bg
                ul
                    each val in news
                        li
                            a(href="../card/news.html")
                                if (val.slogan.p !== "")
                                    // 後端請注意: 如果未填入文字的話 把下方div移除
                                    // 後端請注意: 下方背景顏色要讓客戶可以換
                                    .slogan(style=('background-color:'+val.slogan.bg))=val.slogan.p
                                figure
                                    img.b-lazy(src=blazy data-src=val.img, alt="")
                                    .hoverBox
                                        span
                                        p ENTER
                                ._text
                                    p.type=val.type 
                                    p.title=val.title
                                    // 字數限制 40字
                                    p.words=val.words

    include ../layout/_footer.pug

+script


|
|
</html>