footer
    section.goTop
        <span class="icon-uniE906"></span>
    section.logo
        a(href="../home/index.html")
            img(src="../../assets/img/ftLogo.png", alt="")
    section.linkList
        ul
            li
                a(href=java) About 
                a(href=java) 認識我們
                a(href=java) 探索當代
                a(href=java) 最新消息
            li
                a(href=java) Exhibition
                a(href=java) 展覽資訊
                a(href=java) 歷年展覽
                a(href=java) 語音導覽 
            li
                a(href=java) Visit
                a(href=java) 主題參觀
                a(href=java) 公共藝術
                a(href=java) 線上預約
            li
                a(href=java) Service
                a(href=java) 會員中心
                a(href=java) 申請專區
                a(href=java) 人才招募
            li
                a(href=java) Support
                a(href=java) 贊助單位
                a(href=java) 贊助表單
    section.middle
        .openTime
            h6 Open
            p 每日開放時間 10AM - 06PM
            p 週二至週日開放  每周一休館 
        .Newsletter
            h6 Newsletter
            form
                input(type="text" placeholder="請輸入您的電子信箱")
                button(type="button")
                    <span class="icon-mail"></span>
        .socialMedia
            h6 Follow
            ul
                li
                    a(href=java)
                        <span class="icon-wechat"></span>
                li
                    a(href=java)
                        <span class="icon-sina-weibo"></span>
                li
                    a(href=java)
                        <span class="icon-youtube"></span>
                li
                    a(href=java)
                        <span class="icon-facebook"></span>
                li
                    a(href=java)
                        <span class="icon-instagram"></span>
    section.informatioin
        .left
            p.address NO.39 Chang-An West Road Taipei, Taiwan 103
            p.tel(data-name='Tel ') +886 2-2552-3721
            p.fax(data-name='Fax ') +886 2-2559-3874
            p.mail(data-name='Mail - ') services@mocataipei.org.tw
        .right
            .liboxs
                .openPrivacy
                    p Privacy Policy / 
                .openCopyright
                    p Copyright Notice
            .sponsor
                a(href=java)
                    img(src="../../assets/img/culturalBureau.png", alt="")
                a(href=java)
                    img(src="../../assets/img/foundation.png", alt="")
        .copyright
            p © Taipei MOCA. All rights reserved.
            p Designed by 
                a WDD.
