//- 常用參數
include ../layout/_var.pug


doctype html
|
|
<html lang="en">
|
|
+head
|
|
body#dm.book.guide(data-delaySecond="10" data-indexHerf="../home/index.html")
    main
        article#page
            //位置網址
            section#address
                ul
                    // 後端請注意: 此處有幾個頁面就有幾個li
                    -for(var i = 1;i<22;i++)
                        li(data-page=i data-address=("page-"+i))
            //主要內容
            section#book
                -for(var i = 0;i<20;i++)
                    if (i==0)
                        div.b-lazy(src=blazy data-src=("../../upload/fa2/dm/book/0"+i+".jpg"))
                            //圖片連結
                            a(href="https://tw.yahoo.com/" target="_blank" style="top:0;left:0;width:50%;height:50%" title="點擊開啟新分頁")
                            a(href="https://tw.yahoo.com/" target="_blank" style="top:0;left:50%;width:50%;height:50%" title="點擊開啟新分頁")
                            a(href="https://tw.yahoo.com/" target="_blank" style="top:50%;left:0%;width:30%;height:50%" title="點擊開啟新分頁")
                            a(href="https://tw.yahoo.com/" target="_blank" style="top:50%;left:30%;width:70%;height:50%" title="點擊開啟新分頁")
                    else if (i<10 && i>0)
                        div.b-lazy(src=blazy data-src=("../../upload/fa2/dm/book/0"+i+".jpg"))
                            //圖片連結
                            a(href="https://tw.yahoo.com/" target="_blank" style="top:10%;left:10%;width:80%;height:80%" title="點擊開啟新分頁")
                    else 
                        div.b-lazy(src=blazy data-src=("../../upload/fa2/dm/book/"+i+".jpg"))
        // 往前一頁
        article.nav_arrow.prev
            i.icon-keyboard_arrow_left
        // 往後一頁
        article.nav_arrow.next
            i.icon-keyboard_arrow_right
        //頁面選單
        article#all_pages.overlay
            section.btn-close
                span
            section#menu_holder
                ul#slider
                    li(class=("page"+"0"))
                        figure
                            // 後端請注意: 第一個圖片必須自己一頁
                            img.b-lazy(src=blazy data-src="../../upload/fa2/dm/book/00.jpg")
                            p=("P"+0)
                    -for(var i=1 ;i<10;i++)
                        li(class=("page"+i))
                            figure
                                // 後端請注意: 從第二個圖片開始兩個兩個一頁
                                img.b-lazy(src=blazy data-src=((i*2-1)<10)?("../../upload/fa2/dm/book/0"+(i*2-1)+".jpg"):("../../upload/fa2/dm/book/"+(i*2-1)+".jpg") )
                                img.b-lazy(src=blazy data-src=((i*2)<10)?("../../upload/fa2/dm/book/0"+(i*2)+".jpg"):("../../upload/fa2/dm/book/"+(i*2)+".jpg"))
                                p=("P"+(i*2-1)+"-"+(i*2))
                    -for(var i=1 ;i<10;i++)
                        li(class=("page"+i))
                            figure
                                // 後端請注意: 從第二個圖片開始兩個兩個一頁
                                img.b-lazy(src=blazy data-src=((i*2-1)<10)?("../../upload/fa2/dm/book/0"+(i*2-1)+".jpg"):("../../upload/fa2/dm/book/"+(i*2-1)+".jpg") )
                                img.b-lazy(src=blazy data-src=((i*2)<10)?("../../upload/fa2/dm/book/0"+(i*2)+".jpg"):("../../upload/fa2/dm/book/"+(i*2)+".jpg"))
                                p=("P"+(i*2-1)+"-"+(i*2))
                    li(class=("page"+"9"))
                        figure
                            // 後端請注意: 兩個兩個一頁多出來的部分就自己一頁吧!
                            img.b-lazy(src=blazy data-src="../../upload/fa2/dm/book/19.jpg" )
                            p=("P"+9)
    footer
        nav
            ul
                li
                    a.icon-zoomin.zoom_in(title="放大")
                li
                    a.icon-zoomout.zoom_out(title="縮小")
                li
                    a.icon-search1.zoom_auto(title="回復原大小")
                li
                    a.icon-menu.show_all(title="顯示所有頁面")
                li
                    a.icon-X(title="關閉此頁" onclick="window.close();") 
script(src="../../assets/js/vendor/book/jquery.js")
script.
    
script(src="../../assets/js/vendor/blazy/blazy.min.js")
script(src="../../assets/js/vendor/book/turn.js")
script(src="../../assets/js/vendor/book/jquery.address.js")
script(src="../../assets/js/vendor/ifvisible/ifvisible.js")
script(src="../../assets/js/vendor/sketch/sketch.min.js")
script(src="../../assets/js/vendor/book/dm.js")
|
|
</html>