//- 常用參數
include ../layout/_var.pug


-
    var breadcrumbs =[
        {
            title:"首頁",
            link:"../home/index.html"},
        {
            title:"會員專區",
            link:"../member/member.html"},
    ]

    var unit =[
        {
            name: "會員總覽",
            link:"../member/member.html"},
        {
            name: "超集卡點數&遊戲次數",
            link:"../member/point.html"},
        {
            name: "我的贈品",
            link:"../member/gift.html"},
        {
            name: "停車管理",
            link:""},
        {
            name: "基本資料",
            link:"../member/basicInfo.html"},
        {
            name: "修改密碼",
            link:java},
        {
            name: "會員條碼",
            link:"../member/barCode.html"}
    ]

    var buttons = [
        {
            class:"icon-alert",
            h6:"注意事項",
            p:"Notice",
            onclick:"liboxs.open(0)"},
        {
            class:"icon-gift",
            h6:"贈品補登",
            p:"Repair",
            onclick:"liboxs.open(1)"},
        {
            class:"icon-ticket",
            h6:"電子商品券",
            p:"Ticket",
            onclick:"liboxs.open(4)"},
        {
            class:"icon-star",
            h6:"電子集星樂",
            p:"Star",
            onclick:"liboxs.open(5)"},
        {
            class:"icon-poker",
            h6:"電子摸彩券",
            p:"Lottery",
            onclick:"liboxs.open(6)"},
    ]


doctype html
|
|
<html lang="en">
|
|
+head
|
|
body#member.gift
    include ../layout/_header.pug

    main    
        article.banner
            section.breadcrumbs
                ul
                    each val in breadcrumbs
                        li
                            a(href=val.link )=val.title
            section.topTitle
                .left
                    p.ch 會員專區
                    p.en Member area
                    p.words 歡迎登入漢神超集卡會員專區，提供您專屬的漢神超集卡點數、遊戲、贈品管理、電子報訂閱及停車查詢等眾多便利及貼心服務。
                .right
                    figure
                        img(src="../../upload/fa2/member/member/picture_170_170.jpg", alt="")
                    ._text
                        p(data-name="Welcome , ") 王艾倫
                        a(href=java)
                            span.icon-logout
                            p.en LOGOUT 
                            p.ch 登出
                .unit
                    ul  
                        each val in unit
                            li(class=(val==unit[2])?"active":"")
                                if(val==unit[unit.length-2])
                                    // 後端請注意: 下方的點擊開啟的燈箱 因為很多頁都用的到 所以已ajax方式呈現 請在下方data-src填入ajax資料位置
                                    a(href=val.link onclick="liboxs.ajax(this)" data-src="../member/changPassword.html")=val.name
                                else
                                    a(href=val.link)=val.name
        article.content
            section.overview
                p.en MY CARD’S GIFTS
                p.words 可修改您的個人基本資料或選擇是否訂閱DM等以利提供專屬服務。
                .dropDown
                    span.selectMenu
                        p 請下拉選擇分館 
                    ul 
                        li 巨蛋館
                        li 漢神館
            section.buttons
                each val in buttons
                    button(type="button" onclick=val.onclick)
                        b
                        span(class=val.class)
                        h6=val.h6
                        p=val.p
        article.precautions
            section.words
                p 如您有任何意見歡迎填寫 <span>聯絡表單</span>，或撥打 <span>顧客專線0800-018-980</span> 將有專人問您服務，謝謝。
                // 後端請注意: 下方的點擊開啟的燈箱 因為很多頁都用的到 所以已ajax方式呈現 請在下方data-src填入ajax資料位置
                button(type="button" onclick="liboxs.ajax(this)" data-src="../member/precautions.html") 漢神超集卡約定事項
        article.memberFormLibox
            // 注意事項(0)
            .libox
                section
                    .box
                        .liboxClose
                            span
                        ._title
                            span.icon-alert
                            p.ch 注意事項
                            p.en Precautions
                            .item
                                .name
                                    p 選擇活動
                                    p activity
                                .inputArea
                                    .dropDown
                                        span.selectMenu
                                            p 漢神超集卡-點數折抵無上限
                                        ul
                                            li 漢神超集卡-點數折抵無上限
                                            li 漢神超集卡-點數折抵無上限
                                            li 漢神超集卡-點數折抵無上限
                                            li 漢神超集卡-點數折抵無上限
                        .rules
                            .rule
                                h6 1.商品券/總抽獎/集星樂兌換注意事項
                                p (1)商品券期限至108/5/31(五)，逾期作廢。 
                                p (2)下列發票及消費恕不列入計算：星巴克儲值金額、丸龜製麵、漢神巨蛋、漢神百貨網路購物、非當日、二及三聯式發票、已開發票禮券、即享券及商品券、信用卡紅利折抵及超集卡點數折抵金額等，發票兌訖恕不重新累計。 
                                p (3)商品券皆已開立發票，憑券消費恕不找零亦不另開發票，不得兌換現金。
                            .rule
                                h6 2.商品券使用簡則
                                p (1)本券為無償取得商品券，可換同等金額商品，但不找零、兌換現金及抵付欠款。本券兌換商品不需開立發票，不計入消費換開停車券，亦不參加集點。 
                                p (2)本券遺失、被竊、滅失恕不掛失或補發。本券逾期、塗改均無效，偽造本券依法追究。
                                p (3)若有疑問請洽本公司服務台及卡友服務中心。
                                a(href=java) 詳情請參閱本網站說明
                        .buttons 
                            // 後端請注意: onclick事件本身並不重要 重要的是裡面的 function
                            button(type="button" onclick="liboxs.close(this)")
                                span.icon-hook
                                p 確認關閉
            // 贈品補登(1)
            .libox
                section
                    .box
                        .liboxClose
                            span
                        ._title
                            span.icon-gift
                            p.ch 贈品補登
                            p.en Repair
                            p.words 請輸入電子發票補登序號，即完成贈品兌換補登。若該發票尚未集點將同時完成點數補登，只接受漢神POS系統所開立的電子發票，其他發票須至1F服務台補登。
                        form
                            .item
                                .name
                                    p.ch 店別
                                    p.en store
                                .inputArea
                                    .dropDown
                                        span.selectMenu
                                            p 請下拉選擇店別
                                        ul
                                            li 巨蛋店
                                            li 漢神店
                            .item
                                .name
                                    p.ch 類別
                                    p.en number
                                .inputArea
                                    .dropDown
                                        span.selectMenu
                                            p 請下拉選擇店別
                                        ul
                                            li 男
                                            li 女
                            .description
                                p 活動說明：
                                ul 
                                    li 1.108年開店慶 5/9~5/12全館滿6千送3百 
                                    li 2.花樣繽紛總抽獎
                            .item
                                .name
                                    p.ch 序號
                                    p.en number
                                .inputArea
                                    input(type="password" placeholder="輸入發票補登序號")
                            .item.code
                                .name
                                    p.ch 驗證碼
                                    p.en code
                                .inputArea
                                    input(type="text" placeholder="點擊圖片即可更換")
                                    div
                                        img(src="../../upload/fa2/service/contact/codeImg_70_30.jpg", alt="")
                            .buttons 
                                // 後端請注意: onclick事件本身並不重要 重要的是裡面的 function
                                // 後端請注意: 如果要顯示"贈品補登失敗"的燈箱，請啟動 liboxs.open(3) 而非 liboxs.open(2) 
                                button(type="button" onclick="liboxs.close(this);liboxs.open(2)")
                                    span.icon-hook
                                    p 確認送出
            // 贈品補登成功(2)
            .libox
                section
                    .box
                        .liboxClose
                            span
                        ._title
                            span.icon-hook2
                            p.ch 贈品補登成功
                            p.en Successful repair
                            p.words 恭喜您輸入的贈品補登序號已成功存入超集卡點數帳戶中，如有問題洽詢 : 07-215-7266，謝謝您。
                        .buttons 
                            // 後端請注意: onclick事件本身並不重要 重要的是裡面的 function
                            button(type="button" onclick="liboxs.close(this);")
                                span.icon-hook
                                p 確認離開
            // 贈品補登失敗(3)
            .libox
                section
                    .box
                        .liboxClose
                            span
                        ._title
                            span.icon-hook2
                            p.ch 贈品補登失敗
                            p.en Failed repair
                            p.words 您輸入的贈品補登序號無法正常存入超集卡點數帳戶，可返回上一步重新填寫，如有問題洽詢 : 07-215-7266。
                        .buttons 
                            // 後端請注意: onclick事件本身並不重要 重要的是裡面的 function
                            button(type="button" onclick="liboxs.close(this);")
                                span.icon-hook
                                p 確認離開
            // 電子商品券(4)
            .libox.ticket
                section
                    .box
                        .liboxClose
                            span
                        ._title
                            span.icon-ticket
                            p.ch 電子商品券
                            p.en Ticket
                            .item
                                .name
                                    p 選擇活動
                                    p activity
                                .inputArea
                                    .dropDown
                                        span.selectMenu
                                            p 108年 漢神百貨春季禮賓會
                                        ul
                                            li 108年 漢神百貨春季禮賓會
                                            li 108年 精品Grand Opening
                                            li 109年 App會員獨享禮
                        .typeBox
                            .topTitle 
                                p.red(data-before="電子商品券餘額 :" data-after="元") 2,500
                                p.px16 (108/03/13 ~ 108/04/16 逾期作廢)
                            .container
                                .select
                                    p.active 兌換紀錄 
                                    p 使用紀錄
                                    p 使用簡則
                                .table
                                    //兌換紀錄 
                                    .listTable.active
                                        .listhead
                                            .w245
                                                p 兌換日期
                                            .w245
                                                p 商品券金額
                                            .w150
                                                p 兌換明細
                                        .listbody
                                            -for (var i = 0 ;i<5;i++)
                                                .list
                                                    .w245.order1(data-name=" 兌換")
                                                        p 108/03/13
                                                    .w245.order2
                                                        p 1,000元
                                                    .w150.empty
                                                        button.openIntro(type="button")
                                                            span
                                                    .intro.openObject
                                                        // 活動名稱
                                                        .name
                                                            h6 活動名稱
                                                            p 3/15~3/18 精品加碼送 刷同一卡滿5萬送2,500元電子商品券
                                                        // 發票內容
                                                        ul.invoice
                                                            li
                                                                .numb
                                                                    h6 發票號碼
                                                                    p NH51109059
                                                                .price
                                                                    h6 活動兌換金額
                                                                    p 40,001元
                                                        // 小計
                                                        .subtotal
                                                            h6 活動兌換金額小計
                                                            p 40,001元
                                        // 總計
                                        .total
                                            .w245.order1
                                                p 合計
                                            .w245.order2
                                                p 1,500元
                                            .w150.empty
                                                //空值 佔位置用的
                                    // 使用紀錄
                                    .listTable
                                        .listhead
                                            .w245
                                                p 使用日期
                                            .w245
                                                p 發票號碼
                                            .w150
                                                p 電子商品卷
                                        .listbody
                                            .list
                                                .w245.order1(data-name="使用")
                                                    p 108/04/07
                                                .w245.openObject(data-name="發票號碼")
                                                    p NH51206536
                                                .w150.order2
                                                    p 1,000元
                                            .list
                                                .w245.order1(data-name="使用")
                                                    p 108/04/15
                                                .w245.openObject(data-name="發票號碼")
                                                    p NS54706627
                                                .w150.order2
                                                    p 230元
                                        // 總計
                                        .total
                                            .w245.order1
                                                p 合計
                                            .w245.empty
                                                //空值 佔位置用的
                                            .w150.order2
                                                p 1,230元
                                    // 使用簡則
                                    .rule
                                        div
                                            p 本券為無償取得商品券，可換同等金額商品，但不找零、兌換現金及抵付欠款。本券兌換商品不需開立發票，不計入消費停車券，亦不參加集點。
                                        div
                                            p 本券遺失、被竊、滅失恕不掛失或補發。本券逾期、塗改均無效，偽造本券依法追究。 
                                        div
                                            p 本券於漢神百貨不得兌換下列專櫃商品：精品店、點睛品、超市、丸龜製麵、星巴克儲值。
                                        div
                                            p 以上不得兌換之專櫃如有變動，以現場標示或官網公告為準。
                                        div
                                            p 若有疑問請洽本公司服務台及卡友服務中心。
                                    .noActivity
                                        span.icon-alert
                                        p 抱歉，目前無紀錄可供查詢
                        .noActivity
                            span.icon-alert
                            p 抱歉，目前無檔期活動可供查詢
                        .buttons 
                            // 後端請注意: onclick事件本身並不重要 重要的是裡面的 function
                            button(type="button" onclick="liboxs.close(this);")
                                span.icon-hook
                                p 確認關閉
            // 電子集星樂(5)
            .libox.star
                section
                    .box
                        .liboxClose
                            span
                        ._title
                            span.icon-ticket
                            p.ch 電子集星樂
                            p.en Star
                            .item
                                .name
                                    p 選擇活動
                                    p activity
                                .inputArea
                                    .dropDown
                                        span.selectMenu
                                            p 108年 精品Grand Opening
                                        ul
                                            li 108年 精品Grand Opening
                                            li 108年 精品Grand Opening
                                            li 108年 精品Grand Opening
                        .typeBox
                            .topTitle 
                                p.red(data-before="電子集星剩餘數量 :" data-after="顆") 10
                                p.px16 (至 108/04/14 逾期作廢)
                            .container
                                .select
                                    p.active 兌換紀錄 
                                    p 使用紀錄
                                    p 使用簡則
                                .table
                                    //兌換紀錄 
                                    .listTable.active
                                        .listhead
                                            .w245
                                                p 兌換日期
                                            .w150
                                                p 電子集星數(顆)
                                            .w245
                                                p 發票號碼
                                        .listbody
                                            -for (var i = 0 ;i<5;i++)
                                                .list
                                                    .w245.order1(data-name=" 兌換")
                                                        p 108/04/07
                                                    .w150.order2
                                                        p 50顆
                                                    .w245.openObject(data-name="發票號碼")
                                                        p WQ51206500
                                                        p WQ51206500
                                                        p WQ51206500
                                        // 總計
                                        .total
                                            .w245.order1
                                                p 合計
                                            .w150.order2
                                                p 62顆
                                            .w245.empty
                                                //空值 佔位置用的
                                    // 使用紀錄
                                    .listTable
                                        .listhead
                                            .w245
                                                p 兌換日期
                                            .w150
                                                p 電子集星數(顆)
                                            .w245
                                                p 贈品
                                        .listbody
                                            .list
                                                .w245.order1(data-name="兌換")
                                                    p 108/05/12
                                                .w150.order2
                                                    p 20顆
                                                .w245.openObject(data-name="兌換商品")
                                                    p 700c.c. 保溫瓶
                                            .list
                                                .w245.order1(data-name="兌換")
                                                    p 108/06/08
                                                .w150.order2
                                                    p 5顆
                                                .w245.openObject(data-name="兌換商品")
                                                    p 大送小鍋具組
                                            .list
                                                .w245.order1(data-name="兌換")
                                                    p 108/06/30
                                                .w150.order2
                                                    p 8顆
                                                .w245.openObject(data-name="兌換商品")
                                                    p 動物造型雨傘
                                        // 總計
                                        .total
                                            .w245.order1
                                                p 合計
                                            .w150.order2
                                                p 33顆
                                            .w245.empty
                                                //空值 佔位置用的
                                    // 使用簡則
                                    .rule
                                        div
                                            p 本券為無償取得商品券，可換同等金額商品，但不找零、兌換現金及抵付欠款。本券兌換商品不需開立發票，不計入消費停車券，亦不參加集點。
                                        div
                                            p 本券遺失、被竊、滅失恕不掛失或補發。本券逾期、塗改均無效，偽造本券依法追究。 
                                        div
                                            p 本券於漢神百貨不得兌換下列專櫃商品：精品店、點睛品、超市、丸龜製麵、星巴克儲值。
                                        div
                                            p 以上不得兌換之專櫃如有變動，以現場標示或官網公告為準。
                                        div
                                            p 若有疑問請洽本公司服務台及卡友服務中心。
                                    .noActivity
                                        span.icon-alert
                                        p 抱歉，目前無紀錄可供查詢
                        .noActivity
                            span.icon-alert
                            p 抱歉，目前無檔期活動可供查詢
                        .buttons 
                            // 後端請注意: onclick事件本身並不重要 重要的是裡面的 function
                            button(type="button" onclick="liboxs.close(this);")
                                span.icon-hook
                                p 確認關閉
            // 電子摸彩券(6)
            .libox.lottery
                section
                    .box
                        .liboxClose
                            span
                        ._title
                            span.icon-ticket
                            p.ch 電子摸彩券
                            p.en Lottery
                            .item
                                .name
                                    p 選擇活動
                                    p activity
                                .inputArea
                                    .dropDown
                                        span.selectMenu
                                            p 108年 精品Grand Opening
                                        ul
                                            li 108年 精品Grand Opening
                                            li 108年 精品Grand Opening
                                            li 108年 精品Grand Opening
                        .typeBox
                            .topTitle 
                                p.red(data-before="摸彩卷數量 :" data-after="張") 10
                                p.px16 (至 108/04/14 逾期作廢)
                            .container
                                .select
                                    p.active 兌換紀錄 
                                    p  注意事項
                                .table
                                    //兌換紀錄 
                                    .listTable.active
                                        .listhead
                                            .w245
                                                p 兌換日期
                                            .w245
                                                p 摸彩券號
                                            .w150
                                                p 發票號碼
                                        .listbody
                                            .list
                                                .w245(data-name="兌換")
                                                    p 108/04/07
                                                .w245.ticket
                                                    // 起始號碼
                                                    p 8B7612700001
                                                    //結束號碼
                                                    p 8B7612700002
                                                .w150.openObject(data-name="發票號碼")
                                                    p NB51206501
                                                    p NB51206502
                                                    p NB51206505
                                            .list
                                                .w245(data-name="兌換")
                                                    p 108/04/20
                                                .w245.ticket
                                                    // 起始號碼
                                                    p 005612702002
                                                    //結束號碼
                                                    p 005612702005
                                                .w150.openObject(data-name="發票號碼")
                                                    p AS51202002
                                            .list
                                                .w245(data-name="兌換")
                                                    p 108/04/30
                                                .w245.ticket
                                                    // 起始號碼
                                                    p 4L7612700020
                                                    //結束號碼
                                                    p 4L7612700024
                                                .w150.openObject(data-name="發票號碼")
                                                    p LY51206020
                                                    p LY51206023
                                        // 總計
                                        .total
                                            .w245.order1
                                                p 合計
                                            .w245.order2
                                                p 7張
                                            .w150.empty
                                                //空值 佔位置用的
                                    // 注意事項
                                    .rule
                                        div
                                            p 108/05/30(三) 14:00:00 於1F服務台旁公開抽獎，中獎人需於開獎後30日內對領獎項，逾期視同放棄，不得領獎。
                                        div
                                            p 機車顏色及規格設備等以實際贈品車為主，中獎人須自付領牌、強制險及稅務規費，並於公司指定日期完成領牌，始得有效。
                                    .noActivity
                                        span.icon-alert
                                        p 抱歉，目前無紀錄可供查詢
                        .noActivity
                            span.icon-alert
                            p 抱歉，目前無檔期活動可供查詢
                        .buttons 
                            // 後端請注意: onclick事件本身並不重要 重要的是裡面的 function
                            button(type="button" onclick="liboxs.close(this);")
                                span.icon-hook
                                p 確認關閉

    include  ../layout/_footer.pug
+script
// 後端請注意: 下方的js只有會員單元才會有
script(src="../../assets/js/member.js")
|
|
</html>